# Morpheus Pod - Requirements MÍNIMOS v2.0
# Este archivo solo contiene las dependencias del servidor.
# ComfyUI se encarga de instalar torch, transformers, etc.

# Servidores y API
fastapi==0.103.1
uvicorn==0.23.2
gunicorn
Flask==3.0.0
python-multipart==0.0.6

# Herramientas de Imagen/Vídeo
piexif==1.1.3

# Comunicación con ComfyUI
requests
websocket-client
